/**
* © Alfred-Wegener-Institute Bremerhaven, Germany (2022)
* @link https://awi.de
*
* @author Benjamin Thomas Schwertfeger (2022)
* @email benjamin.schwertfeger@awi.de
* @email development@b-schwertfeger.de
* @link https://b-schwertfeger.de
*
*/

:root {
  --primary-bg-color: white;
  --primary-font-color: black;
  --primary-font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--primary-font-size);
  color: var(--primary-font-color);
  text-align: justify;
}

a {
  text-decoration: none;
  color: blue;
  transition: color 0.2s ease-in-out;
}

.nb {
  border: none;
}

.plot-wrapper {
  min-height: 20rem;
  width: 100%;
  display: inherit;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-size: 0px;
}
#simple_plot_canvas {
  display: inherit;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  /* padding-bottom: 3rem;    */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#float-chart-div,
.div-center {
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
#footer {
  text-align: center;
  margin: 0 auto;
  padding-top: 5rem;
  width: 80%;
  font-size: 16px;
}
#footer a {
  color: black;
}

#footer a:hover,
a:hover {
  text-decoration: none;
  color: red;
}

/* SIMPLE - INPUT STUFF*/

.input-wrapper {
  min-width: 160px;
  margin: 1rem;
}
.input-wrapper,
.slide-value {
  display: inline-block;
}

.canvas_complex {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/**
  * fancy input stuff
  */

.slide {
  float: right;
  -webkit-appearance: none;
  min-width: 12rem; /* 105px;225px; */
  height: 14px;

  outline: none;
  opacity: 0.7;
  padding: 0px;
  margin: 0.4rem 0 0.4rem 0; /* 2px 0px 2px 0px; */

  border-radius: 14px;
  background: #ffffff;
  box-shadow:
    inset 26px 26px 52px #b3b3b3,
    inset -26px -26px 52px #ffffff;
  transition: opacity 0.3s ease-in-out;
}
.slide:hover {
  opacity: 1;
}
.slide::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 32px;
  height: 18px;
  cursor: pointer;
  border-radius: 15px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow:
    6px 6px 12px #969696,
    -0px -0px 0px #ffffff;
}
.slider::-moz-range-thumb {
  width: 35px;
  height: 20px;
  cursor: pointer;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow:
    6px 6px 12px #969696,
    -0px -0px 0px #ffffff;
}
.slide-value {
  width: 4rem;
  /* 65px; */
  height: 1.5rem;
  /* 20px; */
  position: relative;
  display: inline-block;
  text-align: center;
  /* padding: 0px 0px; */
  /* margin-top:  2px; */
  /* margin-left: 0px; */
  margin-right: 1rem; /* 10px; */

  background-color: #ffffff;
  border-radius: 0.6rem;
  box-shadow:
    6px 6px 12px #969696,
    -6px -6px 12px #ffffff;
}

/** workaround*/
.slide-adj-complex {
  margin-left: 1rem;
  margin-right: 1rem;
  float: left;
}

button:focus {
  outline: 0;
} /*to remove blue outline on click*/
.someBtn {
  background-color: #ffffff;
  border: none;
  color: black;
  margin: 1.8rem 0 0 0;
  /* 10px 10px 10px 10px; */
  padding: 0.5rem 1rem;
  /* 10px 22px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 15px;
  box-shadow:
    8px 8px 16px #969696,
    -8px -8px 16px #ffffff;
  transition: box-shadow 0.3s ease-in-out;
}
.someBtn:hover {
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow:
    4px 4px 8px #969696,
    -4px -4px 8px #ffffff;
  cursor: pointer;
}
.someBtn:active {
  background-color: #ffffff;
  box-shadow:
    inset 4px 4px 8px #969696,
    inset -4px -4px 8px #ffffff;
}

/** switch slider*/

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  opacity: 0.7;
  transition: opacity 0.3 ease-in-out;
  -webkit-transition: opacity 0.3 ease-in-out;
  -moz-transition: opacity 0.3 ease-in-out;
  -ms-transition: opacity 0.3 ease-in-out;
  -o-transition: opacity 0.3 ease-in-out;
}
.switch-slider:hover {
  opacity: 1;
}
.switch-slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: opacity 0.4s;
  -ms-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
}

input:checked + .switch-slider {
  background-color: rgb(55, 184, 76);
}
input:focus + .switch-slider {
  box-shadow: 0 0 1px rgb(55, 184, 76);
}
input:checked + .switch-slider:before {
  transform: translateX(19px);
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
}
.switch-slider {
  border-radius: 34px;
}
.switch-slider:before {
  border-radius: 50%;
}
/** end switch slider */

.text_input-wrapper {
  display: inline-block;
  /* margin: 10px 0px 10px 10px; */
  margin-left: 4rem;
  box-shadow:
    8px 8px 16px #969696,
    -8px -8px 16px #ffffff;
  border-radius: 15px;
  position: relative;
  padding: 0.4rem;
  transition: box-shadow 0.3s ease-in-out;
}
.text_input-wrapper:hover {
  box-shadow:
    4px 4px 8px #969696,
    -4px -4px 8px #ffffff;
}
.text_input-wrapper input {
  position: relative;
  max-width: 5rem;
  max-height: 1.6rem;
  /* margin-left: 10px; */
  /* padding: 7px; */

  border: none;
  border-radius: 10px;

  text-align: center;
  color: black;
  font-size: 16px;
  background-color: #ffffff;
  box-shadow:
    inset 2px 2px 16px #969696,
    inset -2px -2px 16px #ffffff;

  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;

  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;

  transition: box-shadow 0.3s ease-in-out;
  -webkit-transition: box-shadow 0.3s ease-in-out;
  -moz-transition: box-shadow 0.3s ease-in-out;
  -ms-transition: box-shadow 0.3s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in-out;
}
.text_input-wrapper input:hover {
  box-shadow:
    inset 6px 6px 16px #969696,
    inset -6px -6px 16px #ffffff;
}
